@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
}

* {
  @apply text-gray-700;
  font-family: poppins;
}
*::-webkit-scrollbar {
  width: 0;
  color: #cfcf39;
}
.hero-wrapper {
  width: 100vw;
  height: calc(100vh - 60px);
  background-image: url(../public/img/img8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.word-spa {
  word-spacing: 11px;
}
#access-wrapper {
  background-image: url(./img/img1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Service-wrapper {
  background-image: url(./img/white.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
